.form {
  padding: 0 2em;
}


.menu__item {
  &:before {
    & .MuiListItemIcon-root {
      color: rgba(124, 77, 255, 0.08);
    }

    & .MuiListItemText-primary {
      borderColor: red;
    }
  }
}