@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.App {
  text-align: center;
  margin: 2em 2em 2em 2em;
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.55px;

}
