@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500');

.app {
  font-family: Quicksand, sans-serif;
  letter-spacing: 0.55px;
  text-align: center;
  height: 100%;
  width: 100%;
}
