.MuiDrawer-root.Navigator {
  width: 250px;
  height: 100vh;
  padding: 0;
  border: 0;

  .MuiDrawer-paper {
    width: 250px;
    height: 100vh;
    padding: 0;
    elevation: 0;
    border-right: 0;
  }
}
