.scheduler {
  width: 100%;

  &-body {
    padding: 0;
    width: 100%;
    height: 100%;
    tr {
      border-radius: 0;
      td {
        padding: 0;
        line-height: 1.3;
        border-right: 1px solid #e3e3e3;
        vertical-align: top;
      }

      &:hover {
        border-radius: 0;

      }
    }
  }
}
